<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit Client</title>
  </head>
  <body>
    <h1>Edit Client</h1>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <p>Please correct the following errors in your submission:</p>
      <ul>
        <th:block th:each="error : ${errors}">
          <li>${error}</li>
        </th:block>
      </ul>
    </th:block>
    <form action="/client/edit" method="POST">
      <input type="hidden" name="clientId" th:value="${client.clientId}"/>
      <br/>
      <label for="name">Company Name:</label>
      <input type="text" name="name" th:value="${client.name}"/>
      <br/>
      <label for="url">Website URL:</label>
      <input type="text" name="url" th:value="${client.url}"/>
      <br/>
      <label for="phone">Phone Number:</label>
      <input type="text" name="phone" th:value="${client.phone}"/>
      <br/>
      <label for="streetAddress">Street Address:</label>
      <input type="text" name="streetAddress" th:value="${client.streetAddress}"/>
      <br/>
      <label for="city">City:</label>
      <input type="text" name="city" th:value="${client.city}"/>
      <br/>
      <label for="state">State:</label>
      <input type="text" name="state" th:value="${client.state}"/>
      <br/>
      <label for="zipCode">Zip Code:</label>
      <input type="text" name="zipCode" th:value="${client.zipCode}"/>
      <br/>
      <label for="associates">Current Contacts:</label>
      <p th:each="associate : ${associates}" th:text="${associate.fullName}"/>
      <label for="contactIds">Choose Contacts:</label>
      <input type="checkbox" name="contactIds"
            th:each="contact : ${contacts}"
            th:text="${contact.fullName}"
            th:value="${contact.personId}"
        />
      
      <br/>
      <input type="submit" name="Submit" value="Submit"/>
    </form>
  </body>
</html>
